@model OSS.Models.User.ListViewModel;
    <div class="p-3 rounded shadow-sm bg-white col-12">
        <div class="row pb-3">
            <div class="col-2">
                <a class="btn btn-icon-only btn-pill btn-primary" asp-controller="User" asp-action="Add" asp-route-id="@Model.RestaurantId">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        @if (Model.Rows != null && Model.Rows.Count > 0)
        {

        }

        <table class="table table-responsive-xl display nowrap table-hover table-striped">
            <thead class="text-danger font-weight-bold">
                <tr>
                    @foreach (var header in Model.TabHeaders)
                    {
                        <th>@header</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Rows)
                {
                    <tr>
                        <td>
                            <img src="@row.Avatar" class="mx-1"
                             style="width: 30px;">
                        </td>
                        <td>@row.Name</td>
                        <td>@row.Email</td>
                        <td>@row.PhoneNo</td>
                        <td>
                            <a asp-controller="User" asp-action="Delete" asp-route-id="@row.Id" class="btn btn-icon-only btn-pill btn-primary">
                                <i class="fa fa-minus"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
