@page "/Order/Details/{delyId}"
@using DeliveryApp.Componants
@using RestaurantDaoBase.Models;
@using RestaurantDaoBase.Enums
@using System.Net.Http;
@using System.Net.Http.Json;
@using RestaurantDaoBase;
@using Serilog;
@using Services
@using Data
@inject AuthService authService

<div class="OrderDetails pb-5">
    <div class="p-3 osahan-inner-header bg-white shadow-sm">
        <a class="font-weight-bold text-dark text-back text-decoration-none " href="/home">
            <i class="feather-chevron-left"></i>
            <span class="ml-3 h6 mb-0">Home</span>
        </a>
    </div>    
    @if (delivery.Restaurant != null)
    {
        <div class="py-3 osahan-profile">
            <h6><i class="feather-award bg-warning text-white p-2 rounded-circle mr-2"></i>Restaurant Info</h6>
            <div class="bg-white shadow mt-3 profile-details">               
                <div class=" left mx-3 py-2 border-bottom">
                    <h6 class="font-weight-bold mb-1 text-dark">Name</h6>
                    <p class="small text-muted m-0">@delivery.Restaurant.Name</p>
                </div> 
                <div class="left mx-3 py-2 border-bottom">
                    <h6 class="font-weight-bold mb-1 text-dark">Address</h6>
                    <p class="small text-muted m-0">@delivery.Restaurant.Address.Street,@delivery.Restaurant.Address.City</p>
                    <p class="small text-muted m-0">@delivery.Restaurant.Address.State,@delivery.Restaurant.Address.Country,@delivery.Restaurant.Address.PostalCode</p>
                </div>
            </div>
        </div>
        <div class="py-3 osahan-profile">
            <GoogleMap postcode="@delivery.Restaurant.Address.PostalCode" />
        </div>
    }
    @if (delivery.Destination != null)
    {
        <div class="py-3 osahan-profile">
            <h6><i class="feather-users bg-primary text-white p-2 rounded-circle mr-2"></i>Customer Info</h6>
            <div class="bg-white shadow mt-3 profile-details">
                <div class="left mx-3 py-2 border-bottom">
                    <h6 class="font-weight-bold mb-1 text-dark">Name</h6>
                    <p class="small text-muted m-0">@delivery.CustomerName</p>
                </div>
                <div class="left mx-3 py-2 border-bottom">
                    <h6 class="font-weight-bold mb-1 text-dark">Address</h6>
                    <p class="small text-muted m-0">@delivery.Destination.Street,@delivery.Destination.City</p>
                    <p class="small text-muted m-0">@delivery.Destination.State,@delivery.Destination.Country,@delivery.Destination.PostalCode</p>
                </div>
            </div>
        </div>
@*        <div class="py-3 osahan-profile">
            <GoogleMap postcode="@delivery.Destination.PostalCode" />
        </div>*@
    }
@*    @if (delivery.Destination != null && delivery.Restaurant != null)
    {
        <div class="py-3 osahan-profile">
            <GoogleMap postcodeRest="@delivery.Restaurant.Address.PostalCode" postcodeUser="@delivery.Destination.PostalCode"  />
             <GoogleMap postcodeRest="@delivery.Restaurant.Address.PostalCode" />
        </div>
    }*@
    <div class="py-3 osahan-profile">
        <h6><i class="feather-gift bg-success text-white p-2 rounded-circle mr-2"></i>Delivery Status</h6>
        <div class="track mx-2">
            <div class="step active">
                <span class="icon">  <i class="fa fa-check"></i> </span>
                <span class="text"> Create</span>
            </div>
            @if (delivery.Status == DeliveryStatusEnum.Accept || delivery.Status == DeliveryStatusEnum.PickedUp || delivery.Status == DeliveryStatusEnum.Completed)
            {
                <div class="step active">
                    <span class="icon"> <i class="fa fa-user"></i> </span>
                    <span class="text"> Accept</span>
                </div>
            }
            else
            {
                <div class="step">
                    <span class="icon"> <i class="fa fa-user"></i> </span>
                    <span class="text"> Accept</span>
                </div>
            }
            @if (delivery.Status == DeliveryStatusEnum.PickedUp || delivery.Status == DeliveryStatusEnum.Completed)
            {
                <div class="step active">
                    <span class="icon"> <i class="fa fa-user"></i> </span>
                    <span class="text"> PickUp</span>
                </div>
            }
            else
            {
                <div class="step">
                    <span class="icon"> <i class="fa fa-user"></i> </span>
                    <span class="text"> PickUp</span>
                </div>
            }
            @if (delivery.Status == DeliveryStatusEnum.Completed)
            {
                <div class="step active">
                    <span class="icon"> <i class="fa fa-box"></i> </span>
                    <span class="text"> Complete</span>
                </div>
            }
            else
            {
                <div class="step">
                    <span class="icon"> <i class="fa fa-box"></i> </span>
                    <span class="text"> Complete</span>
                </div>
            }
        </div>
    </div>

    @if (delivery != null)
    {
        <div class="py-3 osahan-profile">
            <h6><i class="feather-clock bg-danger text-white p-2 rounded-circle mr-2"></i>Delivery Time</h6>
            <div id="ratings-and-reviews"
             class=" d-flex align-items-center py-2 clearfix restaurant-detailed-star-rating">
                <p class="mb-0">Create:</p>
                <div class="star-rating ml-auto">
                    <div class="d-inline-block m-0">
                        @delivery.CreateTime
                    </div>
                </div>
            </div>
            <div id="ratings-and-reviews" class=" d-flex align-items-center  py-2 clearfix restaurant-detailed-star-rating">
                <p class="mb-0">Accept:</p>
                <div class="star-rating ml-auto">
                    <div class="d-inline-block m-0">
                        @delivery.AcceptTime
                    </div>
                </div>
            </div>
            <div id="ratings-and-reviews" class=" d-flex align-items-center  py-2 clearfix restaurant-detailed-star-rating">
                <p class="mb-0">Pickup:</p>
                <div class="star-rating ml-auto">
                    <div class="d-inline-block m-0">
                        @delivery.PickupTime
                    </div>
                </div>
            </div>
            <div id="ratings-and-reviews" class=" d-flex align-items-center  py-2 clearfix restaurant-detailed-star-rating">
                <p class="mb-0">Delivery:</p>
                <div class="star-rating ml-auto">
                    <div class="d-inline-block m-0">
                        @delivery.DeliveryTime
                    </div>
                </div>
            </div>
        </div>
    }
    @if (order != null)
    {
        <div class="py-3 osahan-profile">
            <h6><i class="feather-compass bg-info text-white p-2 rounded-circle mr-2"></i>Order Info</h6>
                <div class="row">
                    <div class="col-6 my-auto">   
                        <p class="my-2 h4">@order.RestaurantName</p>
                        <p class="text-muted"> Place On: </p>
                        <p class="text-muted"> <span class="font-weight-bold text-dark"> @order.CreateTime.ToString("dd MMMM, yyyy")</span> </p>
                    </div>
                    <div class="col-6 text-center  my-auto pl-0 pt-sm-4">
                        <img class="img-fluid my-auto align-items-center mb-0 pt-3" src="@(Data.Constants.imgUrl+ restaurant.Logo)" width="115"
                         height="115">
                        <p></p>

                    </div>
                </div>
            </div>
    }

    <div class="shadow bg-white p-3 mb-3 clearfix">
        @if (order != null)
        {
            @foreach (var orderItem in order.ItemList)
            {
                        <div class="row mb-1">
                            <p class="col-8 ">@orderItem.Item.Name</p>
                            <p class="col-1">@orderItem.Qty</p>
                            <p class="col-3 text-right text-dark">$ @orderItem.Item.Price</p>
                        </div>
            }
        }       
    </div>
    @if (order != null)
    {
            <div class="shadow bg-white p-3 mb-3 clearfix">
                <p class="mb-1">SubTotal <span class="float-right text-dark">$@order.SubTotal</span></p>
                <p class="mb-1">GST/HST <span class="float-right text-dark">$@String.Format("{0:0.00}", (order.SubTotal * (decimal)0.1))</span></p>
                <p class="mb-1">PST/TST/QST <span class="float-right text-dark">$@String.Format("{0:0.00}", (order.SubTotal * (decimal)0.05))</span></p>
                <p class="mb-1">
                    Delivery Fee<span class="text-info ml-1"><i class="icofont-info-circle"></i></span><span class="float-right text-dark">$10</span>
                </p>
                <hr>
                <h6 class="font-weight-bold mb-0">Total <span class="float-right">$@String.Format("{0:0.00}",order.PayTotal)</span></h6>
            </div>
    }
</div>

<NavMenuFooter />
@code {
    [Parameter]
    public string delyId { get; set; }

    private Delivery delivery { get; set; }
    private Order order { get; set; }
    private Restaurant restaurant { get; set; }
    public HttpClient httpClientd = new HttpClient();
    public HttpClient httpCliento = new HttpClient();
    public HttpClient httpClientr = new HttpClient();
    protected override async Task OnInitializedAsync()
    {
        //httpClient.BaseAddress = new Uri("http://localhost:5175/");
        httpClientd.BaseAddress = new Uri(Constants.DelyUri);
        httpClientd.DefaultRequestHeaders.Add("Authorization", $"Bearer {AuthService.User.Token}");
        delivery = new Delivery();

        delivery = await httpClientd.GetFromJsonAsync<Delivery>($"api/delivery/one/" + delyId);

        httpCliento.BaseAddress = new Uri(Constants.OrderUri);
        httpCliento.DefaultRequestHeaders.Add("Authorization", $"Bearer {AuthService.User.Token}");
        order = await httpCliento.GetFromJsonAsync<Order>($"api/order/one/"+delivery.OrderId);

        httpClientr.BaseAddress = new Uri(Constants.RestUri);
        httpClientr.DefaultRequestHeaders.Add("Authorization", $"Bearer {AuthService.User.Token}");
        restaurant = await httpClientr.GetFromJsonAsync<Restaurant>($"/api/restaurant/one/" + delivery.Restaurant.Id);
    }
}

