@model EndUserPortal.Models.ViewModels.RestaurantsViewModel
@{
    ViewData["Title"] = "Restaurants";
}
<form asp-controller="Home" asp-action="Restaurants" method="post" id="searchForm">

    <div class="osahan-trending">
        <div class="container">
            <div class="listAll py-5">
                <div class="row">

                    <div class="col-10 input-group mb-4">
                        <input asp-for="SearchKey" class="form-control form-control-lg input_search border-right-0" />
                        <div class="input-group-prepend">
                            <div class="btn input-group-text bg-white border_search border-left-0 text-primary"><i class="feather-search"></i></div>
                        </div>

                    </div>
                    <a href="#" data-toggle="modal" data-target="#filters" class="px-4 mx-auto mt-1 mb-4 btn btn-primary">Filters</a>
                </div>

                <div class="d-flex align-items-center mb-4">
                    <h3 class="font-weight-bold text-dark mb-0">Restaurants</h3>
                </div>
                <div class="row">
                    @foreach (var restaurant in Model.Restaurants)
                    {
                        <div class="col-lg-4 mb-3">
                            <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm grid-card">
                                <div class="list-card-image">
                                    <a asp-controller="Order" asp-action="Restaurant" asp-route-id="@restaurant.Id">
                                        <img alt="#" src="@restaurant.FullLogoPath" class="img-fluid item-img w-100" />
                                    </a>
                                </div>
                                <div class="p-3 position-relative">
                                    <div class="list-card-body">
                                        <h6 class="mb-1"><a href="restaurant.html" class="text-black">@restaurant.Name</a></h6>
                                        <p class="text-gray mb-3">@restaurant.Description</p>
                                        <ul class="rating-stars list-unstyled">
                                            <li>
                                                @for (int i = 0; i < @restaurant.Rating; i++)
                                                {
                                                    <i class="feather-star star_active"></i>
                                                }
                                                @for (int? i = @restaurant.Rating; i < 5; i++)
                                                {
                                                    <i class="feather-star"></i>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>


        <div class="modal fade" id="filters" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Filters</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-0">
                        <div class="filter">
                            <!--
                            <div class="p-3 bg-light border-bottom">
                                <h6 class="m-0">SORT BY</h6>
                            </div>
                            <div class="custom-control border-bottom px-0 custom-radio">
                                <input type="radio" id="radioTopRated" name="radioSort" value="topRated" class="custom-control-input" />
                                <label class="custom-control-label py-3 w-100 px-3" for="radioTopRated">Top Rated</label>
                            </div>
                            <div class="custom-control border-bottom px-0 custom-radio">
                                <input type="radio" id="radioMostPopular" name="radioSort" value="mostPopular" class="custom-control-input" />
                                <label class="custom-control-label py-3 w-100 px-3" for="radioMostPopular">Most Popular</label>
                            </div>
                            -->
                            <div class="p-3 bg-light border-bottom">
                                <h6 class="m-0">FILTER</h6>
                            </div>
                            @foreach (var category in Model.RestCategories)
                            {
                                <div class="custom-control border-bottom px-0 custom-checkbox">
                                    <input type="radio" name="CategoryKey" class="custom-control-input" id="@category.Name" value="@category.Name" />
                                    <label class="custom-control-label py-3 w-100 px-3" for="@category.Name">@category.Name</label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="modal-footer p-0 border-0">
                        <div class="col-6 m-0 p-0">
                            <a href="#" class="btn border-top btn-lg btn-block" data-dismiss="modal">Close</a>
                        </div>
                        <div class="col-6 m-0 p-0">
                            <button type="submit" id="applyFilter" class="btn btn-primary btn-lg btn-block">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>