@model RMS.Models.Item.AddViewModel

<div class="section">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-gray">
            @foreach (var path in Model.Paths)
            {
                <li class="breadcrumb-item"><a asp-controller="@path.ControllerName" asp-action="@path.ActionName">@path.Titile</a></li>
            }
        </ol>
    </nav>

    <br>
     @if (TempData["FailureMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["FailureMessage"]
            </div>
            <script>
                setTimeout(function() {
                    var flashMessage = document.querySelector('.alert-danger');
                    flashMessage.style.display = 'none';
                }, 10000);
            </script>
        }


    <div class="row pb-3">
        <div class="col-2">
            @* <a class="col-5 mt-1 mb-2 btn btn-primary" asp-controller="Item" asp-action="Add">Add</a> *@
        </div>
    </div>

<form asp-controller="Item" asp-action="Add" class="mt-2 mb-4 row" method="post" enctype="multipart/form-data">
                                         
                                            <div class="form-group col-6">
                                                <label asp-for="Name">Name</label>
                                                <input type="text" asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="restrauntCatgory" class="text-dark">Category</label>
                                                <select asp-for="CategoryId" asp-items="@Model.Categories" class="form-control">
                                                </select>
                                            </div>
                                            
                                            <div class="form-group col-6">
                                                <label asp-for="Price"></label>
                                                <input type="text" asp-for="Price" class="form-control"  />
                                                <span asp-validation-for="Price" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-6">
                                                <label asp-for="Discount"></label>
                                                <input type="text" asp-for="Discount" class="form-control" />
                                                <span asp-validation-for="Discount" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-12">
                                                <label asp-for="Description">Description</label>
                                                <input type="text" asp-for="Description" class="form-control"  />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>

                                           <div class="col-6">
                                                <div class="custom-file mb-3 mr-3">
                                                    <label class="custom-file-label" asp-for="UploadLogo">Upload new Picture</label>
                                                    <input asp-for="UploadLogo" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                            </div>
                                        </form>
</div>


