@model RMS.Models.Item.ListViewModel;

<div class="section">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-gray">
            @foreach (var path in Model.Paths)
            {
                <li class="breadcrumb-item"><a asp-controller="@path.ControllerName" asp-action="@path.ActionName">@path.Titile</a></li>
            }
        </ol>
    </nav>

    <br>
   @if (TempData["SuccessMessage"] != null)
                  {
                      <div class="alert alert-success">
                          @TempData["SuccessMessage"]
                      </div>
                      <script>
                          setTimeout(function() {
                          var flashMessage = document.querySelector('.alert-success');
                          flashMessage.style.display = 'none';
                          }, 10000);
                      </script>
                  }
              else if (TempData["FailureMessage"] != null)
                  {
                  <div class="alert alert-danger">
                      @TempData["FailureMessage"]
                  </div>
                  <script>
                      setTimeout(function() {
                      var flashMessage = document.querySelector('.alert-danger');
                      flashMessage.style.display = 'none';
                      }, 10000);
                  </script>
                  }
   


    <div class="row pb-3">
        <div class="col-2">
            <a class="btn btn-icon-only btn-pill btn-primary" asp-controller="Item" asp-action="Add"><i class="fa fa-plus"></i></a>
        </div>
    </div>

    <table class="table table-hover shadow-inset rounded table-striped">
        <tr>
            @foreach (var tabHeader in Model.TabHeaders)
            {
                <th class="border-0" scope="col" id="class">@tabHeader</th>
            }
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <th scope="row">
                     <img src="@item.FullLogoPath" width="60px" height="60px"/>
                </th>
                <th scope="row">@item.Name</th>
                <th scope="row">@item.Category.Name</th>
                <th scope="row">@item.PriceStr</th>
                <th scope="row">@item.Discount</th>
                <th scope="row">
                    <a  asp-controller="Item" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-icon-only btn-pill btn-primary"> <i class="fa fa-pen "></i></a>   
                </th>
                <th scope="row">
                     <a  asp-controller="Item" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-icon-only btn-pill btn-primary"> <i class="fa fa-trash"></i></a>       
                </th>
            </tr>
        }
    </table>
</div>
