@model OSS.Models.Restaurant.ListViewModel;
<div class="row pb-3">
    <div class="col-2">
        <a class="btn btn-icon-only btn-pill btn-primary" asp-controller="Restaurant" asp-action="Add">
            <i class="fa fa-plus"></i>
        </a>
    </div>
</div>
<table class="table table-hover shadow-inset rounded table-striped">
    <tr class="font-weight-bold">
        @foreach (var tabHeader in Model.TabHeaders)
        {
            <th class="border-0" scope="col" id="class">@tabHeader</th>
        }
    </tr>
    @foreach (var item in Model.Restaurants)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <th scope="row"><img src="@item.FullLogoPath" width="50px" height="50px" /></th>
            <th scope="row">
                <p class="@(item.Featured.ToString().Contains("Yes")? "bg-success text-white" : "bg-primary text-white") py-1 pl-2 rounded small mb-1">
                    @item.Featured
                </p>
            </th>
            <th scope="row">@item.Name</th>
            <th scope="row">@item.Street</th>
            <th scope="row">@item.City</th>
            @* <th scope="row">@item.Zip</th> *@
            <th scope="row">@item.PhoneNo</th>
            <th scope="row">@item.Category.Name</th>

            <th scope="row">
                <a asp-controller="Restaurant" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-icon-only btn-pill btn-primary">
                    <i class="fa fa-pen"></i>
                </a>
            </th>
            <th scope="row">
                <a asp-controller="Restaurant" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-icon-only btn-pill btn-primary">
                    <i class="fa fa-minus"></i>
                </a>
            </th>
            <th scope="row">
                <a asp-controller="User" asp-action="List" asp-route-id="@item.Id" class="btn btn-icon-only btn-pill btn-primary">
                    <i class="fa fa-user"></i>
                </a>
            </th>
        </tr>
    }
</table>