@using DeliveryApp.Services;
@using RestaurantDaoBase.Models;
@using System.Net.Http;
@using System.Net.Http.Json;
@using RestaurantDaoBase;
@using Serilog;
@inject AuthService authService

<div class="section">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-gray">
            @* @foreach (var path in Model.Paths)
            {
            <li class="breadcrumb-item"><a asp-controller="@path.ControllerName" asp-action="@path.ActionName">@path.Titile</a></li>
            }*@
        </ol>
    </nav>


    <table class="table table-hover shadow-inset table-responsive-sm rounded table-striped table align-middle">
        <thead class="text-danger font-weight-bold">
            <tr>
                <th class="border-0" scope="col" id="class">Restaurant Name</th>
                <th class="border-0" scope="col" id="class">Customer Name</th>
                <th class="border-0" scope="col" id="class">Status</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in restDelivery)
            {
                <tr class="align-top">
                    <td>
                        @item.Restaurant.Name
                        <br>
                        @item.Restaurant.Address.Street
                        @item.Restaurant.Address.City
                        @item.Restaurant.Address.PostalCode
                    </td>
                    <td>
                        @item.CustomerName
                        <br>
                        @item.Destination.Street
                        @item.Destination.City
                        @item.Destination.PostalCode
                    </td>
                    <td>
                        @item.Status
                        <br>
                        <a a href="/Order/Details/@item.Id">
                            <i class="feather-archive"></i>Details
                        </a>
                        <br>
                        <a a href="/Pickup/@item.Id">
                            <i class="feather-inbox"></i>PickUp
                        </a>
                    </td>
                </tr>

            }
        </tbody>
        <tfoot>
            ...
        </tfoot>
    </table>

</div>
@code {

    public string deliveryman { get; set; }
    public List<Delivery> restDelivery { get; set; }
    public HttpClient httpClient = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        //Log.Debug("render start");
        //httpClient.BaseAddress = new Uri("http://localhost:5175/");
        httpClient.BaseAddress = new Uri("http://ec2-18-214-61-45.compute-1.amazonaws.com:5175/");
        restDelivery = new List<Delivery>();
        deliveryman = AuthService.User.UserName;
        restDelivery = (await httpClient.GetFromJsonAsync<List<Delivery>>($"api/delivery/ByDeliveryManAndStatus/" + deliveryman + "/1")).ToList();
    }
}