@using RestaurantDaoBase.Models;
@using System.Net.Http;
@using System.Net.Http.Json;
@using RestaurantDaoBase;
@using Serilog;

<div class="section">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-gray">
            @* @foreach (var path in Model.Paths)
            {
            <li class="breadcrumb-item"><a asp-controller="@path.ControllerName" asp-action="@path.ActionName">@path.Titile</a></li>
            }*@
        </ol>
    </nav>


    <table class="table table-hover shadow-inset table-responsive-xl rounded table-striped">
        <thead class="text-danger font-weight-bold">
            <tr>
                <th class="border-0" scope="col" id="class">Restaurant Name</th>
                <th class="border-0" scope="col" id="class">Customer Name</th>
                <th class="border-0" scope="col" id="class">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in restDelivery)
            {
            <tr>
                <td>
                    @item.Restaurant.Name
                        @item.Restaurant.Address.Street
                        @item.Restaurant.Address.City
                        @item.Restaurant.Address.PostalCode
                </td>
                <td>
                    @item.CustomerName
                        @item.Destination.Street
                        @item.Destination.City
                        @item.Destination.PostalCode
                    </td>
                <td>
                    @item.Status
                        <a a href="/Order/Details/@item.Id" class="d-flex w-100 align-items-center border-bottom px-3 py-4">
                            <i class="feather-archive"></i>Details
                        </a>
                </td>        
            </tr>
               
             }
        </tbody>
    </table>

</div>
@code {
    public List<Delivery> restDelivery { get; set; }
    public HttpClient httpClient = new HttpClient();
    protected override async Task OnInitializedAsync()
    {
        //Log.Debug("render start");
        httpClient.BaseAddress = new Uri("http://localhost:5175/");
        restDelivery = new List<Delivery>();
        restDelivery = (await httpClient.GetFromJsonAsync<List<Delivery>>($"api/delivery/ByStatus/0")).ToList();
    }
}