@page "/Order/Details/{orderId}"
@page "/Order/Details/{orderId}/{msg}"
@using RestaurantNetowrkApp.Componants
@using Services;
@using Data.Dto;
@inject OrderService orderService;
@inject RestService restService;
@inject RatingService ratingService;
@inject Data.SessionStorageAccessor sessionStorageAccessor;
@inject NavigationManager navigationManager;


<div class="OrderDetails pb-5">
    @if (msg != null)
    {
        <p class="py-2 pl-2 bg-warning">@msg</p>
    }
    <div class="p-3 osahan-inner-header bg-white shadow-sm">
        <a class="font-weight-bold text-dark text-back text-decoration-none " href="/Order">
            <i class="feather-chevron-left"></i>
            <span class="ml-3 h6 mb-0">Order Details</span>
        </a>
    </div>
    @if(order != null)
    {
        <div class="card-header bg-white">
            <p class="text-muted"># @order.Id</p>
            <div class="row">
                <div class="col-6 my-auto">   
                    <p class="my-2 h4">@order.RestaurantName</p>
                    <p class="text-muted"> Place On: </p>
                    <p class="text-muted"> <span class="font-weight-bold text-dark"> @order.CreateTime.ToString("dd MMMM, yyyy")</span> </p>
                </div>
                <div class="col-6 text-center  my-auto pl-0 pt-sm-4">
                    <img class="img-fluid my-auto align-items-center mb-0 pt-3" src="@(Data.Constants.imgUrl+ rest.Logo)" width="115"
                         height="115">
                    <p></p>
                
                </div>
            </div>
        </div>
    }
    
    <div class="shadow bg-white p-3 mb-3 clearfix">
        @if(order != null)
        {
            @foreach(var orderItem in order.ItemList)
            {
                <div class="row mb-1">
                    <p class="col-8 ">@orderItem.Item.Name</p>
                    <p class="col-1">@orderItem.Qty</p>
                    <p class="col-3 text-right text-dark">$ @orderItem.Item.Price</p>
                </div>
            }
        }       
    </div>
    @if (order != null)
    {
        <div class="shadow bg-white p-3 mb-3 clearfix">
            <p class="mb-1">SubTotal <span class="float-right text-dark">$@order.SubTotal</span></p>
            <p class="mb-1">GST/HST <span class="float-right text-dark">$@String.Format("{0:0.00}", (order.SubTotal * (decimal)0.1))</span></p>
            <p class="mb-1">PST/TST/QST <span class="float-right text-dark">$@String.Format("{0:0.00}", (order.SubTotal * (decimal)0.05))</span></p>
            <p class="mb-1">
                Delivery Fee<span class="text-info ml-1"><i class="icofont-info-circle"></i></span><span class="float-right text-dark">$10</span>
            </p>
            <hr>
            <h6 class="font-weight-bold mb-0">Total <span class="float-right">$@String.Format("{0:0.00}",order.PayTotal)</span></h6>
        </div>
    }
    @if(order != null && (int)order.Status == 0)
    {
        <button class="btn btn-primary text-white" @onclick="()=>cancleOrder(order.Id)">Cancel</button>
        <button class="btn btn-success text-white" @onclick="()=>checkout(order.Id)">Check Out</button>
    }

    @if (order != null && order.IsDelivery)
    {
        <div class="track mx-2">
            <div class="step active">
                <span class="icon">  <i class="fa fa-check"></i> </span>
                <span class="text">Order confirmed</span>
            </div>
            <div class="step active">
                <span class="icon"> <i class="fa fa-user"></i> </span>
                <span class="text"> Picked by courier</span>
            </div>
            <div class="step active">
                <span class="icon"> <i class="fa fa-truck"></i> </span>
                <span class="text"> On the way</span>
            </div>
            <div class="step">
                <span class="icon"> <i class="fa fa-box"></i> </span>
                <span class="text">Complete</span>
            </div>
        </div>
    }

    
   
</div>

@if(order != null && rest != null && (int)order.Status == 4)
{
    @*--------- rate restaurant---------*@
    <div class="bg-white d-flex align-items-center shadow-sm p-3 mb-3 clearfix restaurant-detailed-star-rating">
        <h6 class="mb-0">Rate the Restaurant</h6>
        <Ratings targetId="@rest.Id" username="@userEmail" target="rest" order="@order" />
    </div>
    @*--------- rate foods---------*@
    <div class="p-3 bg-white shadow-sm my-2">
        <h6>Rate the Food</h6>
        @foreach(var orderItem in order.ItemList)
        {
        <div id="ratings-and-reviews"
             class=" d-flex align-items-center py-2 clearfix restaurant-detailed-star-rating">
            <p class="mb-0">@orderItem.Item.Name</p>
            <Ratings targetId="@orderItem.Item.Id" username="@userEmail" target="menu" order ="@order"/>
        </div>
        }
    </div>
    @*--------- rate delivery---------*@
    <div class="bg-white d-flex align-items-center shadow-sm p-3 mb-3 clearfix restaurant-detailed-star-rating">
        <h6 class="mb-0">Rate the Delivery</h6>
        <Ratings targetId="" username="@userEmail" target="delivery" order="@order" />
    </div> 
}

<div class="py-5">
    <hr />
</div>
<NavMenuFooter />
@code {
    [Parameter] public string orderId { get; set; }
    [Parameter] public string msg { get; set; }
    private OrderDto order ;
    private RestaurantDto rest = new RestaurantDto();
    private string userEmail; 

    protected override async Task OnInitializedAsync()
    {
        userEmail = await sessionStorageAccessor.GetValueAsync<string>("userEmail");
        order = orderService.getOrderById(orderId);
        rest = restService.GetRestById(order.RestaurantId);
    }

    private async Task cancleOrder(string orderId)

    {
        var result = await orderService.cancleOrder(orderId);
        if (result)
        {
            string msg = $"Order Cancled Successfully.";
            navigationManager.NavigateTo($"/{msg}");
        }

    }

    public void checkout(string orderId)
    {
        navigationManager.NavigateTo($"/Order/Checkout/{orderId}");
    }
}
