@page "/Restaurant/{restId}"
@using RestaurantNetowrkApp.Componants
@inject IJSRuntime JSRuntime
@using Data.Dto
@using System.Net.Mime;
@using System.Net.Http.Json;
@using Serilog;
@using RestaurantDaoBase.Models;
@using System.Text.Json;
@using System.Text;
@inject Data.SessionStorageAccessor SessionStorageAccessor
@inject NavigationManager NavigationManager



<div class="osahan-restaurant">
    <div class="osahan-restaurant-detail">
        <div class="p-3 osahan-inner-header bg-primary">
            <div class="d-flex align-items-center">
                <a class="font-weight-bold text-white text-back text-decoration-none d-flex" href="">
                    <span class="pl-2">Back</span>
                </a>
                <div class="ml-auto d-flex align-items-center">
                    <a class="text-white mx-2 top-nav-btn top-nav-btn-cart fs-18 position-relative"
                       href="#ratings-and-reviews"><i class="feather-map-pin"></i></a>
                    <a class="text-white mx-2 top-nav-btn top-nav-btn-cart fs-18 position-relative"
                       href="contact-us.html"><i class="feather-phone"></i></a>
                </div>
            </div>
        </div>
        <div class="px-3 pt-4 pb-3 bg-primary">
            <div>
                <h2 class="font-weight-bold text-white">@restaurant.Name</h2>
                @if (@restaurant.Address != null)
                {
                    <p class="font-weight-light text-white-50 m-0">@restaurant.Address.Street , @restaurant.Address.City</p>
                }
                
                <div class="rating-wrap d-flex align-items-center mt-2">
                    <ul class="rating-stars list-unstyled m-0">
                        <RatingStars />
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <p class="font-weight-bold px-3 pt-3 m-0">FEATURED ITEMS</p>

            <div class="restaurant-slider rounded overflow-hidden">
                @if (FeaturedMenuItems != null)
                {
                    @foreach(var menuItem in FeaturedMenuItems)
                    {
                        <div class="osahan-slider-item px-1 py-3">
                            <MenuItemCard  Item="@menuItem"/>
                        </div>
                    }
                }               
            </div>
        </div>
    </div>

    <div class="px-3 pt-3 pb-5">
        <div class="d-flex item-aligns-center">
            <p class="font-weight-bold">Menu</p>
        </div>
        @if (menuCategories != null)
        {
            @foreach(var menuCategory in menuCategories)
            {
                <div class="row">
                    <h6 class="mb-3 mt-3 col-md-12">
                        @menuCategory.Name
                        <small class="text-black-50"> @menuCategory.MenuItemList.Count() ITEMS</small>
                    </h6>
                    <div class="col-md-12 px-0 border-top">
                        <div class="bg-white mb-4">
                            @foreach(var menuItem in menuCategory.MenuItemList)
                            {
                                <div class="p-3 border-bottom gold-members d-flex">
                                    <div class="media">
                                        <div class="mr-3 font-weight-bold text-danger ml-1">
                                            <img src="img/rest/@menuItem.Logo" width="40px" height="40px">
                                        </div>
                                        <div class="media-body">
                                            <h6 class="mb-1">@menuItem.Name </h6>
                                            <p class="text-muted mb-0">$@menuItem.Price</p>
                                        </div>
                                    </div>
                                    <span class="ml-auto">
                                        <a @onclick="() => addToCart(menuItem)"
                                           class="btn btn-outline-secondary btn-sm add-sm-btn">ADD</a>
                                    </span>
                                @*    <div class="osahan-quantity ml-auto">
                                        <input type="button" value="-" class="minus">
                                        <input type="text" name="quantity" value="1" title="Qty" class="qty" size="4">
                                        <input type="button" value="+" class="plus">
                                    </div>*@
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
         }
        
    </div>

       <div class="fixed-bottom p-3">
        <a href="/Order/Review/1"
           class="btn btn-success btn-block btn-lg text-white rounded shadow text-decoration-none d-flex align-items-center shadow">
            <div class="border-right pr-3">
                <h4 class="m-0"><i class="feather-shopping-bag" aria-hidden="true"></i></h4>
            </div>
            <div class="ml-3 text-left">
                <p class="mb-0 small text-white-50">5 item</p>
                <p class="mb-0 font-weight-bold text-white">$235,50.00</p>
            </div>
            <div class="ml-auto">
                <p class="mb-0 text-white">
                    Proceed to cart
                    <i class="feather-chevron-right pl-2" aria-hidden="true"></i>
                </p>
            </div>
        </a>
    </div>

</div>
@code {
    [Parameter]
    public string restId { get; set; }

    bool firstRender = true;
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<object>("restaurantSlick");
            firstRender = false;
        }
    }

    public RestaurantDto restaurant = new RestaurantDto();
    public List<MenuCategoryDto> menuCategories = new List<MenuCategoryDto>();
    public List<MenuItemDto> FeaturedMenuItems = new List<MenuItemDto>();

    public HttpClient httpClient = new HttpClient();
    private HttpClient httpOrder = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        Log.Debug("Rest:" + restId);
        httpClient.BaseAddress = new Uri("http://localhost:5064/");
        //httpOrder.BaseAddress = new Uri("http://localhost:5275/");


        restaurant = await httpClient.GetFromJsonAsync<RestaurantDto>($"api/restaurant/one/"+ restId);
        menuCategories = (await httpClient.GetFromJsonAsync<List<MenuCategoryDto>>($"api/menucategory/list/" + restId)).ToList();
        FeaturedMenuItems = (await httpClient.GetFromJsonAsync<List<MenuItemDto>>($"api/menucategory/featuredlist/{restId}")).ToList();

    }

    private async void addToCart(MenuItemDto menuItem)
    {
        string userEmail = await SessionStorageAccessor.GetValueAsync<string>("userEmail");
        if (userEmail == null)
        {
            Log.Debug("Haven't login");
        }
        else
        {
             string str = JsonSerializer.Serialize(
              new {
                  userName = userEmail,
                  status = 0
              }
            );
            var request = new HttpRequestMessage
                {
                    Method = HttpMethod.Get,
                    RequestUri = new Uri("http://localhost:5275/api/order/listbyuserandstatus"),
                    Content = new StringContent(str, Encoding.UTF8, MediaTypeNames.Application.Json /* or "application/json" in older versions */),
                };

            //var str = "{'Id':'123','DateOfRegistration':'2012-10-21T00:00:00+05:30','Status':0}"
            //     .Replace("'", "\"");
            var response = await httpOrder.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                using var responseStream = await response.Content.ReadAsStreamAsync();
               // OrderDto order = await JsonSerializer.DeserializeAsync<List< OrderDto>>(responseStream);
            }
            else
            {
                throw new ApplicationException("Failed to get order");
            }
        }     

    }

}
