@model RMS.Models.Order.EditViewModel

<div class="section">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-gray">
            @foreach (var path in Model.Paths)
            {
                <li class="breadcrumb-item"><a asp-controller="@path.ControllerName" asp-action="@path.ActionName">@path.Titile</a></li>
            }
        </ol>
    </nav>
    <br>
     @if (TempData["FailureMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["FailureMessage"]
            </div>
            <script>
                setTimeout(function() {
                    var flashMessage = document.querySelector('.alert-danger');
                    flashMessage.style.display = 'none';
                }, 10000);
            </script>
        }


   <form asp-action="Edit" asp-controller="Order" class="mt-2 mb-4 row" method="post"  enctype="multipart/form-data">
         
                <div class="form-group col-4" style="display: none;">
                    <label asp-for="Id">Order ID</label>
                    <input readonly asp-for="Id" class="form-control" />
                </div>
                <div class="form-group col-4">
                    <label asp-for="UserName">Customer Email</label>
                    <input readonly asp-for="UserName" class="form-control" />
                </div>
                <div class="form-group col-4">
                    <label asp-for="CreateTime">Created</label>
                    <input readonly asp-for="CreateTime" class="form-control" />
                </div>
                <div class="form-group col-4">
                    <label asp-for="PayTotal">PayTotal ($)</label>
                    <input readonly asp-for="PayTotal" class="form-control" />
                </div>
                <div class="form-group col-4">
                    <label asp-for="DesiredTime">Pickup Time</label>
                    <input readonly asp-for="DesiredTime" class="form-control" />
                </div>
                <div class="form-group col-4">
                    <label asp-for="DesiredTime">Latest Status</label>
                    <input readonly asp-for="Status" class="form-control" />
                </div>
                <div class="form-group col-4">
                <label asp-for="Status">Update Status</label>
                <select asp-for="Status" class="form-control">
                    <option value="Cart" selected="@(Model.Status == "Cart" ? "selected" : null)">Cart</option>
                    <option value="Paid" selected="@(Model.Status == "Paid" ? "selected" : null)">Paid</option>
                    <option value="Accepted" selected="@(Model.Status == "Accepted" ? "selected" : null)">Accepted</option>
                    <option value="Ready" selected="@(Model.Status == "Ready" ? "selected" : null)">Ready</option>
                    <option value="Completed" selected="@(Model.Status == "Completed" ? "selected" : null)">Completed</option>
                    <option value="Canceled" selected="@(Model.Status == "Canceled" ? "selected" : null)">Canceled</option>
                </select>
            </div>


                <div class="col-12 row">
                  <button type="submit" class="btn btn-primary btn-block">Update</button>
                </div>
            </form>
</div>

