@model RMS.Models.Order.ListViewModel;

<div class="section">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-gray">
            @foreach (var path in Model.Paths)
            {
                <li class="breadcrumb-item"><a asp-controller="@path.ControllerName" asp-action="@path.ActionName">@path.Titile</a></li>
            }
        </ol>
    </nav>

   @if (TempData["SuccessMessage"] != null)
                  {
                      <div class="alert alert-success">
                          @TempData["SuccessMessage"]
                      </div>
                      <script>
                          setTimeout(function() {
                          var flashMessage = document.querySelector('.alert-success');
                          flashMessage.style.display = 'none';
                          }, 10000);
                      </script>
                  }
              else if (TempData["FailureMessage"] != null)
                  {
                  <div class="alert alert-danger">
                      @TempData["FailureMessage"]
                  </div>
                  <script>
                      setTimeout(function() {
                      var flashMessage = document.querySelector('.alert-danger');
                      flashMessage.style.display = 'none';
                      }, 10000);
                  </script>
                  }
                  
        <div class="p-3 rounded shadow-sm bg-white">
            <form asp-controller="Order" asp-action="search" method="post" class="col-12 mb-4 row">
                <div class="col-8 row">
                    <input type="text"
                           class="form-control input_search border-right-0 col-11"
                           asp-for="SearchKey">
                    <div class="input-group-prepend">
                        <Button type="submit" class="btn input-group-text bg-white border_search border-left-0 text-primary">
                            <i class="fa fa-search"></i>
                        </Button>
                    </div>
               </div>
               <div class="col-4">
                <select class="form-control" asp-for="SearchStatus" asp-items="Html.GetEnumSelectList<RestaurantDao.Enums.RmsStatusEnum>()"></select>
               </div>
           </form>
        </div>
    @if (Model.Rows != null && Model.Rows.Count > 0)
    {
            <table class="table table-hover shadow-inset table-responsive-xl rounded table-striped">
                <thead class="text-danger font-weight-bold">
                <tr>
                @foreach (var tabHeader in Model.TabHeaders)
                {
                    <th class="border-0" scope="col" id="class">@tabHeader</th>
                }
            </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.Rows)
            {
                <tr>
                    <td>
                        <a asp-controller="Order" asp-action="Detail" asp-route-id="@item.Id" asp-route-restId="@item.Provider.Id" class="btn btn-icon-only btn-pill btn-primary">
                             @item.Id
                       </a>
                    </td>
                  
                    <td>@item.UserName</td>
                    <td>@item.OrderTotal</td>
                    <td>@item.CreateTime</td>
                    <td>@item.DesiredTime</td>
                    <td>@item.Status</td>
                    @if(Model.EditBtns != null)
                    {
                       @foreach(var btn in Model.EditBtns)
                       {
                    <td>
                       <a asp-controller="@btn.ControllerName" asp-action="@btn.ActionName" 
                         asp-route-id="@item.Id" class="btn btn-icon-only btn-pill btn-primary">
                           @btn.Titile
                       </a>
                    </td>            
                       }
                    }
                </tr>
            }
            </tbody>
        </table>
    }
</div>